.hero.is-primary {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #1a1c23 !important;
    background-blend-mode: multiply,multiply !important;
}

.hero.is-primary a.navbar-item:hover {
    background-color: transparent;
    font-weight: bolder;
}

.button {
    background-color: #30333E !important;
}

@media screen and (max-width: 1087px){
.hero.is-primary .navbar-menu {
    background-color: transparent !important;
}

.navbar-menu {
    box-shadow: none;
}
}
